{% load static %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/SearchTab.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>






<!-- bootstrap -->

<!--
<script src="{% static 'jquery/jquery.min.js'  %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js'  %}"></script>
<script src="{% static 'assets/src2/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/SearchTab.js' %}"></script>
<script src="{% static 'assets/src2/Chart.min.js'  %}"></script>
<script src="{% static 'assets/src2/sparkline.js'  %}"></script>
<script src="{% static 'assets/src2/jquery.vmap.min.js'  %}"></script>
<script src="{% static 'assets/src2/maps/jquery.vmap.usa.js'  %}"></script>
<script src="{% static 'assets/src2/jquery.knob.min.js'  %}"></script>
<script src="{% static 'assets/src2/moment.min.js'  %}"></script>
<script src="{% static 'assets/src2/daterangepicker.js'  %}"></script>
<script src="{% static 'assets/src2/tempusdominus-bootstrap-4.min.js'  %}"></script>
<script src="{% static 'assets/src2/summernote-bs4.min.js'  %}"></script>
<script src="{% static 'assets/src2/jquery.overlayScrollbars.min.js'  %}"></script>
<script src="{% static 'assets/src2/adminlte.js'  %}"></script>
<script src="{% static 'assets/src2/pages/dashboard.js'  %}"></script>
<script src="{% static 'assets/src2/demo.js'  %}"></script>
src2 -->
