
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">TIA</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dashcollapseLayouts" aria-expanded="false" aria-controls="dashcollapseLayouts">
                            <div class="sb-nav-link-icon" ><i class="fas fa-tachometer-alt"></i></div>
                            Espace congé
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                            <div class="collapse" id="dashcollapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="test">Demande de congé</a>
                                    <a class="nav-link" href="mesconges">Mes congés </a>
                                </nav>
                            </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#FormcollapseLayouts" aria-expanded="false" aria-controls="FormcollapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-clone"></i></div>
                            Daily Tracking
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                            <div class="collapse" id="FormcollapseLayouts" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Transaction</a>
                                    <a class="nav-link" href="">Visite</a>
                                </nav>
                            </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tosamcollapseLayouts" aria-expanded="false" aria-controls="tosamcollapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-share"></i></div>
                            Send to RTL
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                            <div class="collapse" id="tosamcollapseLayouts" aria-labelledby="headingThree" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Hebdo Zoom</a>

                                </nav>
                            </div>

                        <a class="nav-link collapsed" href="">
                            <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                            Communication's Hub
                        </a>
                </div>

                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Management</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#processcollapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-poll"></i></div>
                            Suivi & Process
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                            <div class="collapse" id="processcollapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Liste des TDR</a>
                                    <a class="nav-link" href="">Listes des PDV</a>
                                </nav>
                            </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#taskcollapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                            Task Tracking
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                            <div class="collapse" id="taskcollapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Suivi création</a>
                                </nav>
                            </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#staffcollapseLayouts" aria-expanded="false" aria-controls="staffcollapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Staff Management
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                            <div class="collapse" id="staffcollapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Organigramme</a>
                                </nav>
                            </div>
                </div>

                <p>


                </p>

                <div>
                    <a class="nav-link" href="{% url 'logout' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i> Logout</div>
                    </a>
                </div>

            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as: {{ user.username }}</div>
            </div>
