<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% load static %}

    <!-- CSS
    ---------------------------------------------->
    {% include 'includes/link.html' %}


    <!-- Titre
    ----------------------------------------------->
    <title>
        TIA supervision | {% block title %}{% endblock %}
    </title>

    <!-- Specific Page CSS goes HERE  -->
    <style>
        {% block stylesheets %}
        {% endblock stylesheets %}
    </style>

</head>

<body class="sb-nav-fixed">

    {% include 'includes/navigation.html' %}

    <div id="layoutSidenav">

        {% include 'includes/sidebar.html' %}

        <div id="layoutSidenav_content">

            {% block content %}{% endblock content %}

        </div>
    </div>

    <!-- JAVASCRIPT
    ---------------------------------------------->
    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    {% endblock javascripts %}

    </body>
</html>
