
{% block title %}

{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% include 'includes/link.html' %}
{% block stylesheets %}
<style>
    form{

     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
}

#id_username, #id_password {
    padding: 0 30px;
}

form div i {
    position: absolute;
    padding: 10px;
}

</style>
{% endblock stylesheets %}

{% block content %}
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <form method="POST" id="" action="{% url 'login' %}">
                <div class="p-2">
                    <div class="row">
                        <div class="col">
                            <div id="feedbackmessage"></div>
                            {% csrf_token %}
                            <div class="title">
                               <h4>Se connecter</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="row">
                        <div class="col">
                            <label>Username</label>
                            <i class="fa-solid fa-user"></i>
                            {{ form.username }}
                            <div class="">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <div class="row">
                        <div class="col">
                            <label>Password</label>
                            <i class="fa-solid fa-lock"></i>
                            {{ form.password }}
                        </div>
                    </div>
                </div>


            <div class="p-2">
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <div class="p-2 ml-auto">
                                <a href="#">Mot de passe oublié ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block" id="submit">Se connecter</button>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="row">
                    <div class="col">
                        <center><a href="{% url 'signup' %}">S'inscrire</a></center>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
console.log("It's ready")
$(document).ready(function() {
        console.log("JQuery ready");
        $("#form_login").submit(function(event){
            event.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function(response) {
                    if (response['error']) {
                        $("#feedbackmessage").html("<div class='alert alert-danger'>Identifiant incorrect</div>")
                    }
                },
                error: function(request, status, error) {
                    console.log(request.responseText);
                }
            });
        });
    });
</script>

{% endblock javascripts %}
