{% include 'includes/link.html' %}
{% block title %}

{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
}

form{
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}


</style>
{% endblock stylesheets %}

{% block content %}
<div class="container">

            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
    <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

        <div class="d-flex flex-column">
            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="title">
                               <h4>S'incrire</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <label>Nom</label>
                        {{ form.first_name}}
                    </div>

                    <div class="col-4">
                        <label>Prénoms</label>
                        {{ form.last_name}}
                    </div>
                </div>
            </div>


            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <label>Username</label>
                        {{ form.username}}
                    </div>
                    <div class="col-4">
                        <label>Email</label>
                        {{ form.email}}
                    </div>
                </div>
            </div>

            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <label>Photo de profil</label>
                        {{ form.profile_photo}}
                    </div>
                </div>
            </div>

            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <label>Role</label>
                        {{ form.role}}
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <label>Mot de passe</label>
                        {{ form.password1}}
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <label>Confirmation de mot de passe</label>
                        {{ form.password2}}
                    </div>
                </div>
            </div>

            <div class="p-2">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <button type="submit" class="btn btn-success btn-block">S’inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
