{% extends "layouts/base.html" %}

<!-- Ici le titre de la page  -->
{% block title %}
Orange
{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block onglet %} Market Share {% endblock onglet %}

{% block content %}

<div class="col-12">
    <h2 class="text-center font-weight-light my-4" style="float:left; margin-left: 1.3%">Importer votre fichier ici</h2><br><br><br><br>
      <div class="container" style="float:left;  margin-bottom:35%;">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Fichier Excel</h2>
            <input type="file" name="myfile" class="form-control"><br>
            <button type="submit" class="btn btn-dark">Upload</button>
          </form>
       </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
