{% extends "layouts/base.html" %}
<!-- Ici le titre de la page  -->
{% block title %}
Orange
{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block onglet %} Market Share {% endblock onglet %}

{% block content %}

<div class="row">
    <div class="col-sm-12" >
        <h2>Tesst label class="total_ligne badge"> </label></h2>
        <p></p>
        <table id="inProgress" class="table table-dark table-hover" style="border:none">
            <thead style="color:orange">
              <tr>
                <th>nom</th>
                <th>zone</th>
                <th>contact</th>
              </tr>
            </thead>
            <tbody>
            {% for tdrtl in liste_rtl  %}

              <tr>
                <td>{{ tdrtl.rtl_name }} </td>
                <td>{{ tdrtl.rtl_zone }}</td>
                <td>{{ tdrtl.rtl_contact }}</td>
              </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
